@{ Google.Apis.Oauth2.v2.Data.Userinfoplus user = (Google.Apis.Oauth2.v2.Data.Userinfoplus)HttpContext.Current.Session["UserInfo"]; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C# and Google API Libraries: Getting Started Examples: @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='/Home/Index'><i class="fa fa-home"></i> Home</a></li>
                    <li>@Html.ActionLink("Slides", "Slides", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>                                
                                <a href='/Examples/DiscoveryService'><i class="fa fa-search"></i> Discovery Service</a>
                            </li>
                            <li>
                                <a href='/Examples/YouTubeViewUploads'><i class="fa fa-youtube-play"></i> View Uploads</a>
                            </li>
                            <li>
                                <a href='/Examples/MirrorTimeline'><i class="fa fa-google"></i> Mirror API</a>
                            </li>
                            <li>
                                <a href="/Examples/JustDrive"><i class="fa fa-file-text-o"></i> Just Drive</a>
                            </li>
                            <li>
                                <a href="/Examples/PlusMinus"><i class="fa fa-google-plus"></i> Plus Minus</a>
                            </li>
                        </ul>
                    </li>
                </ul>                
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UserInfo"] != null)
                    {
                        <li><p class="navbar-text">Hello, @user.GivenName @user.FamilyName</p><img src='@user.Picture' style="margin-top: 10px; height:32px; width:32px" /></li>
                        <li><a href='/Home/Logout'><i class="fa fa-sign-out"></i> Logout</a></li>
                    }
                    else
                    {
                        <li><a href='/Home/Login'><i class="fa fa-sign-in"></i> Login</a></li>
                    }
                </ul>



            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="page-header">
            <h1>@ViewBag.Title</h1>
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
